@import '_varible.scss';

.fot{

    margin: 1rem;

    .fot-col-0{
        display: flex;
        justify-content: start;
        gap: 32px;
        padding: 0.2rem;
        flex-wrap: wrap;
    }
    .fot-col-1{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        .footer-copyright{
            // p{}
            // a{}
        }

        .footer-social_link{
            display: flex;
            gap: 16px;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 700px){
    .fot{
        .fot-col-0{
            justify-content: center;
        }
        .fot-col-1{
            justify-content: center;
            display: flex;
            gap: 32px;
        }
    }
}