@import '_varible.scss';

.header{
    height: 100vh;
    background-image: url("https://github.com/uzeyir-yariz/NWS/blob/section-1-creating/images/index%20picture/main_img.png?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    nav{
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        text-align: center;
        align-items: center;
        ul{
            display: flex;
            gap: 4rem;

            li{

                // * linkler
                .active_link{
                    color: $special_links_color_active;
                    border-bottom: solid 1px $special_links_color_active;
                } .deactive_link{
                    color: $special_links_color_deactive;
                    transition: 500ms all;
                    border-bottom: solid 1px rgba(255, 255, 255, 0);
                    &:hover{
                        border-bottom: solid 1px $special_links_color_deactive;

                    }
                }
            }
        }
        
        .sign_link{
            border-bottom: solid 1px;
            padding: 0.3rem;
            width: 6.5%;
            border-radius: 15px;
            transition: 500ms color;

            &:hover{
                border-bottom: solid 1px $text_color_special;
                color: $text_color_special;
            }
        }
    }

    // * başlık bölümü
    h1{
        display: flex;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 10vw;
        align-items: center;
        justify-content: center;
        margin-top: -5%;

        .NWS{
            margin-left: 15px;
            font-style: italic;
            font-weight: 100;
            color: $text_color_special;
        }
    }
}
