/*
    TODO: özel başlığı küçült
    TODO: linkleri biraz büyült
    TODO: sosyal ikonları büyült 
*/ 

// ! en büyük 
.spe_title{font-size: 60px !important;}
h1{font-size: 60px;}
h2{font-size: 55px;}
h3{font-size: 50px;}
h4{font-size: 45px;}
h5{font-size: 40px;}
h6{font-size: 35px;}
a {font-size: 25px;}
p {font-size: 25px;}
button, input[type="button"]{font-size: 20px;}
.page_logo{width: 90px; height: 90px;}
.page_link{font-size: 30px;}
.social_link{font-size: 30px;}

// ! orta seviye
@media screen and (max-width: 992px) {
    .spe_title{font-size: 50px !important;}
    h1{font-size: 45px;} 
    h2{font-size: 42px;} 
    h3{font-size: 40px;} 
    h4{font-size: 35px;} 
    h5{font-size: 30px;} 
    h6{font-size: 25px;} 
    a {font-size: 20px;} 
    p {font-size: 20px;} 
    button, input[type="button"]{font-size: 17px;}
    .page_logo{width: 70px; height: 70px;}
    .page_link{font-size: 30px !important;}
    .social_link{}
    .kity_kity{height: 200px; width: fit-content;}
}

// ! telefon olursa linkler
@media screen and (max-width: 600px) {
    .spe_title{font-size: 40px !important;}
    h1{font-size: 47px;} 
    h2{font-size: 42px;} 
    h3{font-size: 37px;} 
    h4{font-size: 32px;} 
    h5{font-size: 27px;} 
    h6{font-size: 20px;}
    a {font-size: 17px;}
    p {font-size: 17px;}
    button, input[type="button"]{font-size: 15px;}
    .page_logo{width: 50px; height: 50px;}
    .page_link{font-size: 30px !important;}
    .social_link{}
    .kity_kity{height: 150px; width: fit-content;}
}