@import '_varible.scss';

.active_link{color: red !important;}
.deactive_link{color: red !important;}

.nav{
    background-color: rgba($bg-color-1, 0.7);
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    width: 100%;
    position: fixed;
    transition: background-color 500ms ease-in-out;
    align-items: center;
    margin-top: 50px;
    top: -50px;
    z-index: 1;
    box-shadow: 0 10px 24px rgba($bg-color-1, 0.5);

    .overlay{
        display: flex;
        flex-direction: row;
        .overlay-content{
            display: flex;
            gap: 32px;
            width: 100%;
        }
    }
}

// * media query 
@media (max-width: 800px) {
    .nav{
        top: -50px;
        width: 100%;
    }

    .overlay{
        white-space: nowrap;
        position: fixed;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        z-index: 1;
        width: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: rgb(133, 129, 129);
        background-color: rgba(0,0,0, 0.9);

        .overlay-close-btn{
            position: absolute;
            top: 40px;
            right: 45px;
        }

        .overlay-content{
            position: relative;
            top: -25%;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            ul{
                display: flex;
                flex-direction: column;
                li{a{
                    color: #818181;
                    display: block;
                    transition: 0.3s;

                    &:hover, &:focus{
                        color: #f1f1f1;
                    }
                }}
            }
        }

    }

    // * nesnleri görünür hale getiriyor
    .overlay-close-btn {display: block !important;}
    .overlay-open-btn {display: block !important;}
}

// nesnleri görünmez hale getiriyor
.overlay-close-btn{
    cursor: pointer; 
    display: none;
    
    i{
        transition: all 500ms ease-in-out;
        &:hover{
            transform: rotate(-90deg);
            transition: all 500ms ease-in-out;
            color: red;
    
        }
    }
    
}

.overlay-open-btn {
    cursor: pointer; 
    display: none;
    transition: all 500ms ease-in-out;
    margin-right: 20px;

    &:hover{
        color: red;
    }
}

.up-arrow{
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right:  50px;
    background-color: $bg-color-2;
    padding: 1rem;
    opacity: 0.7;
    
    &:hover{
        i{
            transition: all 250ms ease-in-out;
            transform: translateY(-5px);
            color: $special-text-color;
        }
    } i{
        transition: all 250ms ease-in-out;
        transform: translateY(0px);
    }

}

.sign_link{color: $special-text-color;}