// * texts
    // text font
        $text_base_font: 'Roboto';

    // text color
        $text_color_normal: #e9e9e6;
        $text_color_title: #f59b08;
        $text_color_special: chartreuse;


// * background 
    // color
        $bg_color_base: #1d1d1d;
        $bg_color_secondary: #272727;

// * special  
    // color
        $special_links_color_active: #90f508;
        $special_links_color_deactive: #e9e9e6;
    
    // scrol bar
        // width
            $special_scrolbar_width: 5px;

        // color
            $special_scrolbar_color_default: #3498db;
            $special_scrolbar_color_hovered: #2980b9;
            
        // icons, some btn
            $special_icons_color_default: #00ffc8;
            $special_icons_color_hovered: #2980b9;


