// * font 
  $special-font: 'Bungee', sans-serif;
  $title-font: 'Inter Tight', sans-serif;
  $text-font: 'Montserrat', sans-serif;

// * color

  // * text color
    $paragraph-text-color: #E9E9E6;
    $title-text-color: #F59B08;
    $special-text-color: #7FFF00;
    $link-active: #90F508;
    $link-deactive: #C5C5C5;

  // * bg-color 
    $bg-color-0: #131313;
    $bg-color-1: #1D1D1D;
    $bg-color-2: #222222;
    $bg-color-3: #272727;
    $bg-color-4: #545454;

  // * button-color
    $btn-color-def: #90F508;
    $btn-color-act: #9B08F5;
    $btn-color-def-hov: #9b08f54d;
    $btn-color-not: #F59B08;
    $btn-color-not-hov: #f59b084d;
    $btn-color-err: #FF2E2E;
    $btn-color-txt-def: #131313;
    $btn-color-txt-hov: #E9E9E6;
    $btn-color-txt-clk: #FFFFFF;
  
  // * special color
    $hr-color: #979797;

  // * scroll color
    $scrolbar-width: 2px;
    $scrolbar-color-default: $special-text-color;
    $scrolbar-color-hovered: rgba($special-text-color, 0.5);