@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1d1d1d; }

ul {
  list-style: none; }

.page_logo {
  height: 8vw;
  align-self: center;
  border-radius: 50%;
  padding: 5px; }

@media (max-width: 700px) {
  .page_logo {
    height: 15vw; } }

h1, h2, h3, h4, h5, h6, a, img, span, summary, label {
  font-family: "Roboto";
  color: #e9e9e6;
  text-transform: uppercase;
  text-decoration: none; }

p {
  font-family: "Roboto";
  color: #e9e9e6;
  font-weight: 300; }

.base_hr {
  opacity: 0.2;
  margin-top: 25px;
  margin-bottom: 25px; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #3498db; }

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; }

.header {
  height: 100vh;
  background-image: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/index%20picture/main_img.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .header h1 {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 10vw;
    align-items: center;
    justify-content: center;
    margin-top: -5%; }
    .header h1 .NWS {
      margin-left: 15px;
      font-style: italic;
      font-weight: 100;
      color: chartreuse; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  position: fixed;
  transition: background-color 500ms ease-in-out;
  align-items: center;
  margin-top: 50px;
  top: -50px;
  z-index: 1; }
  .navbar .overlay {
    display: flex; }
    .navbar .overlay .overlay-content {
      display: flex;
      gap: 32px; }

@media (max-width: 700px) {
  .navbar {
    top: -50px;
    width: 100% !important; }
  .overlay {
    white-space: nowrap;
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #858181;
    background-color: rgba(0, 0, 0, 0.9); }
    .overlay .overlay-close-btn {
      position: absolute;
      top: 20px;
      right: 45px; }
    .overlay .overlay-content {
      position: relative;
      top: -25%;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column; }
      .overlay .overlay-content ul {
        display: grid; }
        .overlay .overlay-content ul li a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.3s; }
          .overlay .overlay-content ul li a:hover, .overlay .overlay-content ul li a:focus {
            color: #f1f1f1; }
  .overlay-close-btn {
    display: block !important; }
  .overlay-open-btn {
    display: block !important; } }

.overlay-close-btn {
  cursor: pointer;
  display: none;
  transition: all 500ms ease-in-out;
  font-size: 8vw; }
  .overlay-close-btn:hover {
    transform: rotate(-90deg);
    color: rgba(255, 96, 96, 0.815); }

.overlay-open-btn {
  cursor: pointer;
  display: none;
  transition: all 500ms ease-in-out;
  font-size: 7vw; }
  .overlay-open-btn:hover {
    color: #90f508; }

.sign_link {
  border-bottom: solid 1px;
  padding: 0.3rem;
  width: 6.5%;
  border-radius: 5px;
  transition: 500ms color;
  background-color: #272727;
  padding-left: 10px;
  padding-right: 10px; }
  .sign_link:hover {
    border-bottom: solid 1px chartreuse;
    color: chartreuse; }

.active_link {
  color: #90f508 !important;
  border-bottom: solid 1px #90f508; }

.deactive_link {
  color: #e9e9e6;
  transition: 500ms all;
  border-bottom: solid 1px rgba(255, 255, 255, 0); }
  .deactive_link:hover {
    border-bottom: solid 1px #e9e9e6; }

.link {
  color: #e9e9e6;
  transition: 500ms all;
  border-bottom: solid 1px rgba(255, 255, 255, 0); }
  .link:hover {
    color: #90f508;
    border-bottom: solid 1px #90f508; }

.card-section, .section-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  transform: scale(0.85); }
  .card-section .card, .section-1 .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }
    .card-section .card .text-content, .section-1 .card .text-content {
      flex: 1;
      padding: 20px 20px;
      margin-right: 20px;
      position: relative; }
      .card-section .card .text-content h5, .section-1 .card .text-content h5 {
        color: #f59b08;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 4vh; }
      .card-section .card .text-content p, .section-1 .card .text-content p {
        line-height: 1.5;
        margin-bottom: 10px; }
      .card-section .card .text-content .links, .section-1 .card .text-content .links {
        position: absolute;
        right: 0;
        border-bottom: solid 1px rgba(0, 0, 0, 0);
        color: #e9e9e6;
        transition: 500ms ease-in-out; }
        .card-section .card .text-content .links:hover, .section-1 .card .text-content .links:hover {
          border-bottom: solid 1px #90f508;
          color: #90f508; }
    .card-section .card .picture-content, .section-1 .card .picture-content {
      background-color: white;
      max-height: 30vw;
      min-height: 25vw;
      min-width: 40%;
      border-radius: 10px;
      background-size: cover;
      background-position: center center; }

.slide-left {
  transition: transform 0.5s, all 0.5s;
  opacity: 0;
  transform: translateX(5vw); }

.slide-left.visible {
  opacity: 1;
  transform: translateX(0); }

.slide-right {
  transition: transform 0.5s, all 0.5s;
  opacity: 0;
  transform: translateX(-5vw); }

.slide-right.visible {
  opacity: 1;
  transform: translateX(0); }

.slide-up {
  transition: transform 0.5s, all 0.5s;
  opacity: 0;
  transform: translateY(-10vw); }

.slide-up.visible {
  opacity: 1;
  transform: translateX(0); }

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px; }
  .section-2 .github-stats {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    width: auto;
    overflow: hidden;
    transition: 500ms all ease-in-out; }
    .section-2 .github-stats img {
      transition: 500ms all ease-in-out;
      cursor: pointer; }
      .section-2 .github-stats img:hover {
        transform: scale(1.1); }

.section-3 {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  gap: 50px;
  height: 300px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  align-items: center;
  margin-bottom: 25px;
  /* resimler */ }
  .section-3 .arma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 15vw;
    height: 15vw;
    position: absolute;
    left: -100%;
    animation: kaydir 10s linear infinite;
    animation-play-state: running;
    cursor: pointer;
    transition: 500ms ease-in-out all; }
    .section-3 .arma:hover {
      transform: scale(1.5); }
    .section-3 .arma img {
      width: 40%; }
  .section-3:hover .arma {
    animation-play-state: paused; }
  .section-3:hover {
    background-color: #272727; }
  .section-3 .gold {
    background-image: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/arma/gold.png?raw=true"); }
  .section-3 .silver {
    background-image: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/arma/silver.png?raw=true"); }
  .section-3 .bronze {
    background-image: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/arma/bronze.png?raw=true"); }

@keyframes kaydir {
  0% {
    left: -100%; }
  100% {
    left: 100%; } }

@media screen and (max-width: 700px) {
  .slide-right {
    align-items: center;
    flex-direction: column; }
  .slide-left {
    align-items: center;
    flex-direction: column-reverse; }
  .picture-content {
    width: 100%;
    height: 70vw;
    margin-top: 10px;
    margin-bottom: 15px; }
  .card-section {
    transform: scale(0.9); }
    .card-section .card .text-content p {
      font-size: 5vw; }
  .github-stats {
    width: 75% !important; }
  .arma {
    width: 30vw !important;
    height: 30vw !important; }
  @keyframes kaydir {
    0% {
      left: -150%; }
    100% {
      left: 200%; } } }

.picture-content1 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/index%20picture/hakk%C4%B1m%C4%B1zda%20b%C3%B6l%C3%BCm%C3%BC%20i%C3%A7in%20resim.png?raw=true"); }

.picture-content2 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/index%20picture/github_ptojeler_img.png?raw=true"); }

.picture-content3 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/index%20picture/teknolojik_demolar_img.png?raw=true"); }

.picture-content4 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/main/images/index%20picture/blog_makaleler_img.png?raw=true"); }

.index {
  background: linear-gradient(to bottom, #000, #1d1d1d); }

.project_main {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px; }
  .project_main .project_container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 120px;
    justify-content: center;
    align-items: center; }
    .project_main .project_container article {
      align-self: stretch;
      padding: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 15px;
      background: #131313; }
      .project_main .project_container article figure {
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center; }
        .project_main .project_container article figure img {
          border-radius: 15px;
          width: 25vw; }
      .project_main .project_container article article {
        display: flex;
        flex-direction: column;
        gap: 30px; }
        .project_main .project_container article article div {
          background-color: #545454;
          border-radius: 15px;
          padding: 0.5rem;
          position: relative; }
          .project_main .project_container article article div h5 {
            color: #f59b08;
            font-size: 100%;
            margin-bottom: 10px; }
          .project_main .project_container article article div p {
            margin-bottom: 20px; }
          .project_main .project_container article article div a {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 10px;
            margin-bottom: 3px; }

.project_container article article .label-contanier {
  background-color: rgba(84, 84, 84, 0.3);
  padding: 0.5rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
  gap: 30px;
  row-gap: 15px; }
  .project_container article article .label-contanier span {
    background-color: transparent;
    width: fit-content;
    cursor: pointer;
    padding: 0.15rem;
    align-self: center; }
  .project_container article article .label-contanier .html {
    background-color: #ffa60070;
    border-radius: 15px;
    border: solid #FFA500;
    transition: 500ms all ease-in-out; }
    .project_container article article .label-contanier .html:hover {
      background-color: #ffa600;
      border: solid white; }
  .project_container article article .label-contanier .css {
    background-color: #0070BA70;
    border-radius: 15px;
    border: solid #0070BA;
    transition: 500ms all ease-in-out; }
    .project_container article article .label-contanier .css:hover {
      background-color: #0070BA;
      border: solid white; }
  .project_container article article .label-contanier .scss {
    background-color: #FF69B470;
    border-radius: 15px;
    border: solid #FF69B4;
    transition: 500ms all ease-in-out; }
    .project_container article article .label-contanier .scss:hover {
      background-color: #FF69B4;
      border: solid white; }
  .project_container article article .label-contanier .javascript {
    background-color: #F7DF1E70;
    border-radius: 15px;
    border: solid #F7DF1E;
    transition: 500ms all ease-in-out; }
    .project_container article article .label-contanier .javascript:hover {
      background-color: #F7DF1E;
      border: solid white; }
  .project_container article article .label-contanier .C-sharp {
    background-color: #17860070;
    border-radius: 15px;
    border: solid #178600;
    transition: 500ms all ease-in-out; }
    .project_container article article .label-contanier .C-sharp:hover {
      background-color: #178600;
      border: solid white; }
  .project_container article article .label-contanier .tailwind {
    background-color: #06B6D470;
    border-radius: 15px;
    border: solid #06B6D4;
    transition: 500ms all ease-in-out; }
    .project_container article article .label-contanier .tailwind:hover {
      background-color: #06B6D4;
      border: solid white; }
  .project_container article article .label-contanier .node {
    background-color: #8CC84B70;
    border-radius: 15px;
    border: solid #8CC84B;
    transition: 500ms all ease-in-out; }
    .project_container article article .label-contanier .node:hover {
      background-color: #8CC84B;
      border: solid white; }

.hakkımızda_main {
  margin-top: 160px;
  margin-bottom: 50px; }
  .hakkımızda_main .btn_contanier {
    width: 100%;
    background-color: rgba(19, 19, 19, 0.2);
    border-radius: 25px;
    transform: scale(0.98);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; }
    .hakkımızda_main .btn_contanier .hak_btn {
      color: white;
      background-color: #222222;
      cursor: pointer;
      width: 50%;
      font-size: 200%;
      text-transform: uppercase;
      outline: none;
      border: none;
      padding: 0.5rem;
      transition: 500ms all ease-in-out; }
      .hakkımızda_main .btn_contanier .hak_btn:hover {
        color: #90f508 !important;
        background-color: #1d1d1d !important; }
    .hakkımızda_main .btn_contanier .hak_btn_right {
      border-radius: 0 20px 20px 0; }
    .hakkımızda_main .btn_contanier .hak_btn_left {
      border-radius: 20px 0 0 20px; }
  .hakkımızda_main .hak_art_contanier {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    height: 100%;
    align-items: center; }
    .hakkımızda_main .hak_art_contanier .hakım_art {
      transition: 1s all ease-in-out;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; }
      .hakkımızda_main .hak_art_contanier .hakım_art h2 {
        padding: 1rem;
        color: #f59b08; }
      .hakkımızda_main .hak_art_contanier .hakım_art hr {
        opacity: 0.5; }
    .hakkımızda_main .hak_art_contanier .cv_art {
      background-color: #131313;
      width: 0%; }
      .hakkımızda_main .hak_art_contanier .cv_art .short_about {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_about span {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          border-bottom: solid 1px rgba(255, 255, 255, 0.4);
          padding: 0.5rem; }
          .hakkımızda_main .hak_art_contanier .cv_art .short_about span h4 {
            text-align: end; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_about p {
          margin-top: 15px;
          text-align: center;
          overflow: hidden;
          opacity: 0.7; }
      .hakkımızda_main .hak_art_contanier .cv_art .short_contact {
        padding: 1rem;
        display: flex;
        flex-direction: column; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_contact span {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          border-bottom: solid 1px rgba(255, 255, 255, 0.4);
          padding: 0.5rem; }
          .hakkımızda_main .hak_art_contanier .cv_art .short_contact span a {
            text-align: end;
            font-size: 90%; }
          .hakkımızda_main .hak_art_contanier .cv_art .short_contact span ul {
            display: flex;
            width: 100%;
            justify-content: space-around; }
      .hakkımızda_main .hak_art_contanier .cv_art .short_media {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_media h4 {
          margin-bottom: 15px; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_media span ul {
          border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
          border-top: solid rgba(255, 255, 255, 0.5) 1px;
          padding: 0.3rem;
          display: flex;
          justify-content: space-around; }
      .hakkımızda_main .hak_art_contanier .cv_art .short_langue {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_langue h4 {
          margin-bottom: 15px; }
      .hakkımızda_main .hak_art_contanier .cv_art .short_small_about {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_small_about h4 {
          margin-bottom: 1rem; }
        .hakkımızda_main .hak_art_contanier .cv_art .short_small_about .short_project {
          text-align: center;
          padding: 0.5rem;
          border-top: solid rgba(255, 255, 255, 0.5) 1px;
          border-bottom: solid rgba(255, 255, 255, 0.5) 1px; }
          .hakkımızda_main .hak_art_contanier .cv_art .short_small_about .short_project a {
            font-size: 125%; }
    .hakkımızda_main .hak_art_contanier .hak_art {
      background-color: #222222;
      width: 0%; }
      .hakkımızda_main .hak_art_contanier .hak_art .benim_hakkımda {
        padding: 1rem; }
        .hakkımızda_main .hak_art_contanier .hak_art .benim_hakkımda summary {
          color: #f59b08;
          margin-bottom: 15px; }
        .hakkımızda_main .hak_art_contanier .hak_art .benim_hakkımda p {
          white-space: normal;
          letter-spacing: 1px;
          word-spacing: 2px;
          margin-bottom: 25px; }
      .hakkımızda_main .hak_art_contanier .hak_art .proje_hakkında {
        padding: 1rem; }
        .hakkımızda_main .hak_art_contanier .hak_art .proje_hakkında summary {
          cursor: pointer;
          color: #f59b08;
          margin-bottom: 15px; }
        .hakkımızda_main .hak_art_contanier .hak_art .proje_hakkında p {
          white-space: normal;
          letter-spacing: 1px;
          word-spacing: 2px;
          margin-bottom: 25px; }
        .hakkımızda_main .hak_art_contanier .hak_art .proje_hakkında a {
          margin-left: 15px;
          text-decoration: overline; }

.hak_active_btn {
  color: #90f508 !important;
  background-color: #1d1d1d !important; }

.hak_deactive_btn {
  color: #e9e9e6 !important; }

@media (max-width: 800px) {
  .hakkımızda_main .btn_contanier {
    display: flex;
    flex-direction: column; }
    .hakkımızda_main .btn_contanier .hak_btn {
      width: 100%;
      padding: 1rem; }
    .hakkımızda_main .btn_contanier .hak_btn_right {
      border-radius: 0 0 20px 20px; }
    .hakkımızda_main .btn_contanier .hak_btn_left {
      border-radius: 20px 20px 0 0; }
    .hakkımızda_main .btn_contanier .hak_left {
      display: none; }
    .hakkımızda_main .btn_contanier .hak_right {
      display: none; }
  .short_media {
    text-align: center; }
    .short_media span ul {
      border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
      border-top: solid rgba(255, 255, 255, 0.5) 1px;
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      justify-content: space-around; } }

.extrem_ul {
  width: 100%; }
  .extrem_ul h5 {
    margin-bottom: 5px;
    margin-top: 30px;
    color: rgba(127, 255, 0, 0.9); }
  .extrem_ul ul {
    width: 100%; }
    .extrem_ul ul li {
      font-size: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
      padding: 0.4rem;
      text-transform: none; }
      .extrem_ul ul li span {
        font-size: 110%;
        width: 100%;
        text-align: end; }
        .extrem_ul ul li span .yellow_star {
          color: rgba(255, 255, 0, 0.7); }

.chance_hak {
  color: #00ffc8; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer hr {
    align-self: center;
    width: 90%; }
  footer .row-1 {
    display: flex;
    gap: 5vw;
    justify-content: space-around; }
    footer .row-1 span {
      display: flex; }
      footer .row-1 span i {
        align-self: center;
        color: #00ffc8;
        transition: 500ms ease-in-out;
        font-size: 4vw;
        margin-right: 2vw; }
        footer .row-1 span i:hover {
          color: #2980b9; }
      footer .row-1 span span {
        display: flex;
        flex-direction: column; }
        footer .row-1 span span h6 {
          font-size: 3vw;
          font-weight: 300;
          text-transform: none; }
        footer .row-1 span span p {
          font-weight: 100;
          text-transform: capitalize;
          opacity: 0.5;
          font-size: 1.4vw; }
  footer .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px; }
    footer .row-2 .abo {
      display: flex;
      flex-direction: column;
      gap: 15px; }
      footer .row-2 .abo p {
        opacity: 0.5;
        font-size: 1.5vw;
        word-spacing: 2px;
        letter-spacing: 1px;
        line-height: 1.5;
        text-transform: none; }
      footer .row-2 .abo h6 {
        font-size: 2.5vw;
        margin-bottom: 10px; }
      footer .row-2 .abo span {
        display: flex;
        gap: 25px;
        font-size: 3vw;
        align-items: center; }
        footer .row-2 .abo span a {
          transition: 500ms ease-in-out all; }
          footer .row-2 .abo span a:hover {
            color: #2980b9;
            transform: scale(1.4); }
    footer .row-2 .use {
      display: flex;
      flex-direction: column;
      gap: 15px; }
      footer .row-2 .use h6 {
        font-size: 2vw;
        color: #f59b08; }
      footer .row-2 .use ul {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 25px; }
        footer .row-2 .use ul li a {
          text-transform: capitalize;
          opacity: 0.5;
          transition: 500ms ease-in-out;
          border-bottom: solid 2px rgba(0, 0, 0, 0); }
          footer .row-2 .use ul li a:hover {
            color: #2980b9;
            opacity: 1;
            border-bottom: solid 2px #2980b9;
            margin-left: 5px; }
      footer .row-2 .use hr {
        align-self: flex-start;
        width: 7vw;
        margin-bottom: 5px;
        margin-top: 5px; }
    footer .row-2 .sub {
      display: flex;
      flex-direction: column;
      gap: 15px; }
      footer .row-2 .sub h6 {
        font-size: 2vw;
        color: #f59b08; }
      footer .row-2 .sub p {
        opacity: 0.5;
        font-size: 1.5vw;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-transform: none; }
      footer .row-2 .sub span {
        position: relative; }
        footer .row-2 .sub span input {
          padding: 15px;
          width: 100%;
          background-color: #272727;
          outline: none;
          border: none;
          color: #e9e9e6; }
        footer .row-2 .sub span button {
          position: absolute;
          color: #f59b08;
          background-color: #00ffc8;
          padding: 15px;
          right: 0;
          outline: none;
          border: none;
          cursor: pointer;
          transition: 500ms background-color ease-in-out; }
          footer .row-2 .sub span button:hover {
            background-color: #2980b9; }
      footer .row-2 .sub hr {
        align-self: flex-start;
        width: 7vw;
        margin-bottom: 5px;
        margin-top: 5px; }
  footer .row-3 {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: #272727;
    margin-top: 10px;
    align-items: center; }
    footer .row-3 p {
      font-size: 1.8vw;
      opacity: 0.8; }
      footer .row-3 p a {
        color: #00ffc8;
        border-bottom: solid 2px rgba(0, 0, 0, 0);
        transition: all 500ms ease-in-out; }
        footer .row-3 p a:hover {
          color: #2980b9;
          border-bottom: solid 2px #2980b9; }
    footer .row-3 span ul {
      display: flex;
      align-self: flex-start;
      gap: 25px; }
      footer .row-3 span ul li a {
        font-size: 1.8vw;
        text-transform: capitalize;
        opacity: 0.5;
        transition: 500ms ease-in-out;
        border-bottom: solid 2px rgba(0, 0, 0, 0); }
        footer .row-3 span ul li a:hover {
          color: #2980b9;
          opacity: 1;
          border-bottom: solid 2px #2980b9; }

@media (max-width: 700px) {
  footer {
    display: flex;
    gap: 15px;
    flex-direction: column; }
    footer .row-1 {
      display: grid; }
      footer .row-1 span i {
        font-size: 9vw; }
      footer .row-1 span span h6 {
        font-size: 6vw; }
      footer .row-1 span span p {
        font-size: 3vw; }
    footer .row-2 {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      gap: 50px; }
      footer .row-2 div {
        display: flex;
        flex-direction: column !important; }
      footer .row-2 .abo {
        display: flex;
        justify-content: center;
        align-items: center; }
        footer .row-2 .abo img {
          min-height: 20vw; }
        footer .row-2 .abo p {
          font-size: 4vw;
          text-align: center; }
        footer .row-2 .abo h6 {
          font-size: 7vw; }
        footer .row-2 .abo span a i {
          font-size: 8vw; }
      footer .row-2 .use {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; }
        footer .row-2 .use h6 {
          font-size: 6vw; }
        footer .row-2 .use hr {
          width: 100%; }
        footer .row-2 .use ul {
          width: 100%; }
          footer .row-2 .use ul li a {
            font-size: 6vw; }
      footer .row-2 .sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        footer .row-2 .sub h6 {
          font-size: 6vw; }
        footer .row-2 .sub hr {
          align-self: center;
          width: 50%; }
        footer .row-2 .sub p {
          font-size: 4vw; }
        footer .row-2 .sub span {
          margin-top: 30px; }
          footer .row-2 .sub span input {
            width: 80vw; }
    footer .row-3 {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px; }
      footer .row-3 p {
        font-size: 3.5vw; }
      footer .row-3 span ul li a {
        font-size: 4vw; }
  .up-arrow {
    bottom: 5px;
    right: 5px;
    padding: 0.5rem; } }

.up-arrow {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #1d1d1d;
  padding: 0.7rem;
  transition: 500ms all ease-in-out;
  opacity: 0.7; }
