@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1d1d1d;
  height: 150vh; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6, a, img, span, div {
  font-family: "Roboto";
  color: #e9e9e6;
  text-transform: uppercase;
  text-decoration: none; }

p {
  font-family: "Roboto";
  color: #e9e9e6;
  font-weight: 300; }

hr {
  opacity: 0.2;
  margin-top: 25px;
  margin-bottom: 25px; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #3498db; }

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; }

.header {
  height: 100vh;
  background-image: url("https://github.com/uzeyir-yariz/NWS/blob/section-1-creating/images/index%20picture/main_img.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .header nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    align-items: center; }
    .header nav ul {
      display: flex;
      gap: 4rem; }
      .header nav ul li .active_link {
        color: #90f508;
        border-bottom: solid 1px #90f508; }
      .header nav ul li .deactive_link {
        color: #e9e9e6;
        transition: 500ms all;
        border-bottom: solid 1px rgba(255, 255, 255, 0); }
        .header nav ul li .deactive_link:hover {
          border-bottom: solid 1px #e9e9e6; }
    .header nav .sign_link {
      border-bottom: solid 1px;
      padding: 0.3rem;
      width: 6.5%;
      border-radius: 15px;
      transition: 500ms color; }
      .header nav .sign_link:hover {
        border-bottom: solid 1px chartreuse;
        color: chartreuse; }
  .header h1 {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 10vw;
    align-items: center;
    justify-content: center;
    margin-top: -5%; }
    .header h1 span {
      margin-left: 15px;
      font-style: italic;
      font-weight: 100;
      color: chartreuse; }

.card-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  transform: scale(0.85); }
  .card-section .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }
    .card-section .card .text-content {
      flex: 1;
      padding: 20px 20px;
      margin-right: 20px;
      position: relative; }
      .card-section .card .text-content h5 {
        color: #f59b08;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 4vh; }
      .card-section .card .text-content p {
        line-height: 1.5;
        margin-bottom: 10px;
        text-transform: capitalize; }
      .card-section .card .text-content .links {
        position: absolute;
        right: 0;
        border-bottom: solid 1px rgba(0, 0, 0, 0);
        color: #e9e9e6;
        transition: 500ms ease-in-out; }
        .card-section .card .text-content .links:hover {
          border-bottom: solid 1px #90f508;
          color: #90f508; }
    .card-section .card .picture-content {
      background-color: white;
      max-height: 40vw;
      min-height: 30vw;
      min-width: 40%;
      border-radius: 10px;
      background-size: cover;
      background-position: center center; }
  .card-section .slide-left {
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateX(5vw); }
  .card-section .slide-left.visible {
    opacity: 1;
    transform: translateX(0); }
  .card-section .slide-right {
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateX(-5vw); }
  .card-section .slide-right.visible {
    opacity: 1;
    transform: translateX(0); }

@media screen and (max-width: 768px) {
  .slide-right {
    align-items: center;
    flex-direction: column; }
  .slide-left {
    align-items: center;
    flex-direction: column-reverse; }
  .picture-content {
    width: 100%;
    height: 70vw;
    margin-top: 10px;
    margin-bottom: 15px; }
  .card-section {
    transform: scale(0.9); } }

.picture-content1 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/section-1-creating/images/index%20picture/hakk%C4%B1m%C4%B1zda%20b%C3%B6l%C3%BCm%C3%BC%20i%C3%A7in%20resim.png?raw=true"); }

.picture-content2 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/section-1-creating/images/index%20picture/github_ptojeler_img.png?raw=true"); }

.picture-content3 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/section-1-creating/images/index%20picture/teknolojik_demolar_img.png?raw=true"); }

.picture-content4 {
  background: url("https://github.com/uzeyir-yariz/NWS/blob/section-1-creating/images/index%20picture/blog_makaleler_img.png?raw=true"); }

main {
  background: linear-gradient(to bottom, #000, #1d1d1d); }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer hr {
    align-self: center;
    width: 90%; }
  footer .row-1 {
    display: flex;
    justify-content: center;
    gap: 5vw; }
    footer .row-1 span {
      display: flex; }
      footer .row-1 span i {
        align-self: center;
        color: #00ffc8;
        transition: 500ms ease-in-out;
        font-size: 4.5vw;
        margin-right: 2vw; }
        footer .row-1 span i:hover {
          color: #2980b9; }
      footer .row-1 span span {
        display: flex;
        flex-direction: column; }
        footer .row-1 span span h6 {
          font-size: 2.5vw;
          font-weight: 300;
          text-transform: none; }
        footer .row-1 span span p {
          font-weight: 100;
          text-transform: capitalize;
          opacity: 0.5;
          font-size: 1.8vw; }
