@import 'scss/_varible.scss';

.card-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;

    .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

        .text-content {
            flex: 1;
            padding: 0 20px;

            h3{
                color: $text_color_title;
                margin-bottom: 10px;
                // overflow: hidden;
                // white-space: nowrap;
                // animation: typing 4s steps(32) forwards;
            } p{
                line-height: 1.5;
            } 
        }

        .picture-content{
            background-color: white;
            height: 150px;
            min-width: 40%;
            border-radius: 10px;
            background-size: cover;
            background-position: center;
        }
    } 

    // sağ ve soldan animasyon ekleme aşşağı indikçe
    .slide-left{
        transition: transform 0.5s, opacity 0.5s;
        opacity: 0;
        transform: translateX(20px);
    } .slide-left.visible{
        opacity: 1;
        transform: translateX(0);
    }

    .slide-right{
        transition: transform 0.5s, opacity 0.5s;
        opacity: 0;
        transform: translateX(-20px);
    } .slide-right.visible{
        opacity: 1;
        transform: translateX(0);
    }
}



@media screen and (max-width: 768px) {
    .slide-right{
        align-items: center;
        flex-direction: column;
    } .slide-left{
        align-items: center;
        flex-direction: column-reverse;
    }

    .picture-content {
        width: 100%;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

}