@import 'scss/_varible.scss';

.project_main{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

    .project_container{
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        gap: 32px;
        flex-wrap: wrap;
        margin-top: 160px;
        justify-content: center;
        align-items: center;
        article{
            align-self: stretch;
            padding: 0.5rem;
            padding-top:    1rem;
            padding-bottom: 1rem;
            border-radius: 15px;
            background: $bg_color_fourt;


            figure{
                align-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
                img{border-radius: 15px; width: 100%; height: 25vh;}
            }

            article{
                display: flex;
                flex-direction: column;
                gap: 30px;
                div{
                    background-color: $bg_color_third;
                    border-radius: 15px;
                    padding: 0.5rem;
                    position: relative;
                    h5{
                        color: $text_color_title; 
                        font-size: 100%;
                        margin-bottom: 10px;
                    }p{
                        margin-bottom: 20px;
                    } a{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin-right: 10px;
                        margin-bottom: 3px;
                    }
                } 
            }
        }
    }
}

.project_container{article{
    .label-container{
        background-color: rgba($bg_color_third, 0.30);
        padding: 0.5rem;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 15px;
                
        span{
            margin-left:  5px;
            margin-right: 5px;
            background-color: transparent;
            cursor: pointer;
            padding: 0.15rem;
            align-self: center;
        }

        .html{
            background-color: #ffa60070;
            border-radius: 15px;
            border: solid #FFA500;
            transition: 500ms all ease-in-out;
            &:hover{
                background-color: #ffa600;
                border: solid white;
            }
        }
        .css{
            background-color: #0070BA70;
            border-radius: 15px;
            border: solid #0070BA;
            transition: 500ms all ease-in-out;
            &:hover{
                background-color: #0070BA;
                border: solid white;
            }
        }
        .scss{
            background-color: #FF69B470;
            border-radius: 15px;
            border: solid #FF69B4;
            transition: 500ms all ease-in-out;
            &:hover{
                background-color: #FF69B4;
                border: solid white;
            }
        }
        .javascript{
            background-color: #F7DF1E70;
            border-radius: 15px;
            border: solid #F7DF1E;
            transition: 500ms all ease-in-out;
            &:hover{
                background-color: #F7DF1E;
                border: solid white;
            }
        }
        .C-sharp{
            background-color: #17860070;
            border-radius: 15px;
            border: solid #178600;
            transition: 500ms all ease-in-out;
            &:hover{
                background-color: #178600;
                border: solid white;
            }
        }
        .tailwind{
            background-color: #06B6D470;
            border-radius: 15px;
            border: solid #06B6D4;
            transition: 500ms all ease-in-out;
            &:hover{
                background-color: #06B6D4;
                border: solid white;
            }
        }
        .node{
            background-color: #8CC84B70;
            border-radius: 15px;
            border: solid #8CC84B;
            transition: 500ms all ease-in-out;
            &:hover{
                background-color: #8CC84B;
                border: solid white;
            }
        }
    }
}}

@media(max-width: 700px){
    .project_main{
        width: 100%;
        .project_container{
            width: 75%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            article{figure{img{border-radius: 15px; width: 100%;}}}}
    }
}