body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://preview.redd.it/nnvuv0xj2df71.jpg?auto=webp&s=2d73f8659c5bb3cb2284d0977c72f663265596e0"); */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../assets/images/fireWatch.jpg");
    background-size: cover;
  background-position: top center;
  height: 100vh;
  background-repeat: no-repeat;
  backdrop-filter: grayscale(30%);
}

.spe_font {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.content {
  padding-top: 6rem;
  min-height: 100vh;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.skill-level {
  width: 100%;
  border-radius: 5px;
}

.table tbody tr {
  transition: all 0.3s ease;
  cursor: pointer;
}

.table tbody tr:hover {
  transform: scale(1.01);
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: slateblue;
  }
  .image-noa {
    background-position: 30% 0%;
  }
}

.my-5 {
  margin: 5rem 0;
}
.my-6 {
  margin: 6rem 0;
}
.my-7 {
  margin: 7rem 0;
}
.my-8 {
  margin: 8rem 0;
}

.center {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.alert-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.alert-content.open {
  max-height: 500px; /* İçeriğin yüksekliğine bağlı olarak bu değeri artırabilirsin */
  opacity: 1;
}

.alert-content.closed {
  max-height: 0;
  opacity: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer{height: 100vh;}