.header{
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://preview.redd.it/nnvuv0xj2df71.jpg?auto=webp&s=2d73f8659c5bb3cb2284d0977c72f663265596e0"); */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url("/header-image.jpg");
    background-size: cover;
  background-position: top center;
  height: 100vh;
  background-repeat: no-repeat;
  backdrop-filter: grayscale(30%);
}

.source{
  position: absolute;
  bottom: 0;
  margin: 1rem;
  right: 0;
}

.deadline{
  position: absolute;
  bottom: 0;
  margin: 1rem;
  left: 0;
}

@media screen and (max-width: 500px) {
  nav{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .time{
    position: absolute;
    top: 80%; 
  }
}