.project-card-container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-card img {
  width: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.project-card.reverse {
  flex-direction: row-reverse;
} 

.project-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.project-content h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
  border-bottom: solid white 1px;
  width: fit-content;
}

.project-content p {
  font-size: 1rem;
  margin: 8px 0;
}

.project-card-footer{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .project-card {
    display: flex;
    flex-direction: column !important;
  }

  .project-content {
    display: flex;
    gap: 32px;
  }

  .project-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .project-card-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}