@import '../_varible.scss';
@import '../animation/anime.scss';

.kity{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    svg{margin-bottom: 2rem; animation: shadow_breath 3s ease infinite;} 
    h1{animation: rotate_left_right 3s ease infinite;}
}