@import 'scss/_varible.scss';
@import 'scss/_starter.scss';

.timer_header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;

    .timer_title{
        position: absolute;
        margin-top: -15vw;
        font-style: italic;
        letter-spacing: 1.5vw;
        font-size: 5vw;
        opacity: 0.7;
    }
}

.timer_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 0.2vh;

    .timer_clock_result{
        font-size: 12vw;
    } .timer_clock{
        opacity: 0.7;
        font-size: 8vw;
        word-spacing: 5vw;
    } .timer_NWS{
        color: $text_color_special;
        font-weight: lighter;
        font-style: italic;
        font-size: 17vw;
        margin-top: 6vw;
    } .timer_summarys{
        color: $text_color_normal;
        display: flex;
        gap: 10px;
        font-size: 4vw;

        .timer_summary{
            text-transform: capitalize;
            opacity: 0.6;
            font-style: italic;
            font-weight: 100;

            &::first-letter{
                color: $text_color_special;
            }
        }  
    }
}